<aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="<%= user.avatar %>" width="50px"
            alt="User Image" style="border-radius: 50%; width: 50px; height: 50px;">
        <div>
            <p class="app-sidebar__user-name"><b>
                    <%= user.name %>
                </b></p>
            <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
        </div>
    </div>
    <hr>
    <ul class="app-menu">

        <li><a class="app-menu__item active" href="/home"><i class='app-menu__icon bx bx-tachometer'></i><span
                    class="app-menu__label">Bảng điều
                    khiển</span></a></li>
        <li><a class="app-menu__item" href="/staff"><i class='app-menu__icon bx bx-id-card'></i> <span
                    class="app-menu__label">Quản lý nhân
                    viên</span></a></li>
        <li><a class="app-menu__item" href="/account/listAccount"><i class='app-menu__icon bx bx-user-voice'></i><span
                    class="app-menu__label">Quản lý khách
                    hàng</span></a></li>
        <li><a class="app-menu__item " href="/products"><i class='app-menu__icon bx bx-purchase-tag-alt'></i><span
                    class="app-menu__label">Quản lý
                    sản phẩm</span></a>
        </li>
        <li><a class="app-menu__item" href="/order"><i class='app-menu__icon bx bx-task'></i><span
                    class="app-menu__label">Quản lý đơn hàng</span></a></li>
        <li><a class="app-menu__item" href="/internal"><i class='app-menu__icon bx bx-run'></i><span
                    class="app-menu__label">Quản lý nội bộ
                </span></a></li>
        <li><a class="app-menu__item" href="/salary"><i class='app-menu__icon bx bx-dollar'></i><span
                    class="app-menu__label">Bảng kê
                    lương</span></a></li>
        <li><a class="app-menu__item " href="/voucher"><i class='app-menu__icon fa fa-ticket'></i><span
                    class="app-menu__label">Quản lí Voucher</span></a></li>
        <li><a class="app-menu__item" href="/statistical/all"><i class='app-menu__icon bx bx-pie-chart-alt-2'></i><span
                    class="app-menu__label">Báo cáo
                    doanh thu</span></a>
        </li>
    </ul>
</aside>