<style>
  .user-image {
    border-radius: 50%;
  }

  /* Định dạng màu chữ màu trắng */
  .user-header p,
  .sidebar-menu a,
  .treeview-menu a,
  .fa {
    color: white;
    font-size: 10px;
    font-family: 'Libre Baskerville', serif;
  }

  /* Định dạng tên người dùng */
  .user-name {
    text-align: center;
    font-size: 12px;
  }

  /* Tạo màu nền màu vàng cho Xiaomi VN và bo tròn */
  .sidebar-menu .xiaomi-vn {
    background-color: #FFD700;
    margin: 10px;
    border-radius: 20px;
  }

  /* Tạo màu nền màu #1EAFED cho mục được chọn và bo tròn */
  .sidebar-menu li.active {
    background-color: #1EAFED;
    margin: 10px;
    border-radius: 10px;
  }

  /* Căn chỉnh ảnh và tên người dùng theo chiều ngang */
  .user-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
</style>
<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="user-header">
        <div class="user-header">
          <img src="../public/dist/img/avatar.png" class="img-circle user-image" alt="User Image">
          <div class="fa user-name">Nguyễn Công Vinh</div>
        </div>
        <p style="text-align: center; font-size: 8px;">Chào mừng bạn</p>
      </li>

      <!-- Xiaomi VN có màu nền vàng và bo tròn -->
      <li class="treeview xiaomi-vn">
        <a href="#">
          <i class="fa fa-shopping-cart"></i> <span>Xiaomi VN</span> <i class=""></i>
        </a>
      </li>

      <!-- Thay đổi màu nền cho các mục trong sidebar-menu và bo tròn -->
      <li class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Bảng điều khiển</span>
        </a>
      </li>
      <li>
        <a href="../widgets.html">
          <i class="fa fa-th"></i> <span>Quản lý nhân viên</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span>Quản lý khách hàng</span>
        </a>
      </li>
      <li class "treeview">
        <a href="#">
          <i class="fa fa-laptop"></i>
          <span>Quản lý sản phẩm</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Quản lý đơn hàng</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-table"></i> <span>Quản lý nội bộ</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
