<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="/images/ava.png" width="50px"
      alt="User Image" style="border-radius: 50%; width: 50px; height: 50px;">
    <div>
      <p class="app-sidebar__user-name"><b>Công Vinh</b></p>
      <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
    </div>
  </div>
  <hr>
  <ul class="app-menu">
    <li><a class="app-menu__item haha" href="http://localhost:3000/staffManagerTest"><i class='app-menu__icon bx bx-cart-alt'></i>
        <span class="app-menu__label">MD VN</span></a></li>
    <li><a class="app-menu__item active" href="http://localhost:3000/homeTest"><i class='app-menu__icon bx bx-tachometer'></i><span
          class="app-menu__label">Bảng điều khiển</span></a></li>
    <li><a class="app-menu__item " href="http://localhost:3000/staffManagerTest" ><i class='app-menu__icon bx bx-id-card'></i> <span
          class="app-menu__label">Quản lý nhân viên</span></a></li>
    <li><a class="app-menu__item" href="http://localhost:3000/account/listAccount"><i class='app-menu__icon bx bx-user-voice'></i><span
          class="app-menu__label">Quản lý khách hàng</span></a></li>
    <li><a class="app-menu__item" href="http://localhost:3000/customerTest"><i
          class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Quản lý sản phẩm</span></a>
    </li>
    <li><a class="app-menu__item" href="http://localhost:3000/salesTest"><i class='app-menu__icon bx bx-task'></i><span
          class="app-menu__label">Quản lý đơn hàng</span></a></li>
    <li><a class="app-menu__item" href="http://localhost:3000/InternalManagement"><i class='app-menu__icon bx bx-run'></i><span
          class="app-menu__label">Quản lý nội bộ
        </span></a></li>
    <li><a class="app-menu__item" href="http://localhost:3000/salaryStatement"><i class='app-menu__icon bx bx-dollar'></i><span
          class="app-menu__label">Bảng kê lương</span></a></li>
    <li><a class="app-menu__item" href="http://localhost:3000/salesTest"><i
          class='app-menu__icon bx bx-pie-chart-alt-2'></i><span class="app-menu__label">Báo cáo doanh thu</span></a>
    </li>
  </ul>

  
</aside>