<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="box">
        <div class="group">
            <div class="overlap-group">
                <div class="overlap">
                    <div class="text-wrapper">Đăng nhập</div>
                    <div class="div">
                        <input class="text-wrapper-2" placeholder="Nhập Email"></input>
                        <img class="mail" src="img/mail-1.png" />
                    </div>
                    <div class="overlap-2">
                        <div class="rectangle"></div>
                        <div class="text-wrapper-3">Password</div>
                        <div class="flex justify-between" style="align-items: baseline;">
                            <img class="hide" src="img/hide-1.png" />
                            <input type="password" class="text-wrapper-4" placeholder="Nhập mật khẩu"></input>
                            <img class="key" src="img/key-1.png" />
                        </div>
                    </div>
                    <div class="text-wrapper-5">Email</div>
                    <div class="text-wrapper-6">Quên mật khẩu ?</div>
                    <div class="div-wrapper">
                        <a href="http://localhost:3000/homeTest" class="text-wrapper-7">Đăng nhập</a>
                    </div>
                </div>
                <div class="overlap-3">
                    <div class="overlap-4">
                        <img class="element-px" src="img/52616b-770-720-px-2-1-1.png" />
                        <img class="element" src="img/logoapp.jpg" />
                    </div>
                    <div class="text-wrapper-8">MD VN</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // async function login() {
        //     // Lấy dữ liệu từ ô nhập liệu
        //     const email = document.getElementById('emailInput').value;
        //     const password = document.getElementById('passwordInput').value;

        //     // Thực hiện cuộc gọi API
        //     try {
        //         const response = await fetch('http://localhost:3000/homeTest', {
        //             method: 'GET',
        //             headers: {
        //                 'Content-Type': 'application/json',
        //             },
        //             body: JSON.stringify({
        //                 email: email,
        //                 password: password,
        //             }),
        //         });

        //         const data = await response.json();

        //         // Xử lý dữ liệu từ API tại đây (ví dụ: chuyển màn hình, hiển thị thông báo)
        //         console.log('API Response:', data);
        //         // Ví dụ chuyển màn hình sau khi đăng nhập thành công
        //         window.location.href = 'URL_Màn_hình_mới';
        //     } catch (error) {
        //         console.error('Error:', error);
        //         // Xử lý lỗi nếu cần thiết
        //     }
        // }
        

    </script>
</body>

</html>